/* .pixelify-sans-pixel {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */

:root {
    --pixel: "Pixelify Sans";
    --orange: rgb(248, 164, 6);
    --purple: rgb(121, 8, 121);
    --blue: rgb(64, 64, 150);
    --lightblue: rgb(178, 200, 207);
    --green: rgb(23, 179, 23);
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--pixel);
    background: linear-gradient(to bottom right, var(--orange), var(--blue), var(--lightblue));
}

/* .banner {
    
} */

#banner-img {
    width: 100%;
}

.name {
    font-size: 75px;
    color: var(--orange);
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 25px;
}

.links {

    position: absolute;
    top: 25px;
    right: 20px;

}

a {
    text-decoration: none;
    padding: 0 15px;
    color: var(--lightblue);
    background-color: var(--purple);
}

a:hover {
    background-color: var(--orange);
    color: var(--blue);
    /* box-shadow: 5px 5px 5px black inset; */
    /* box-shadow: 10px 5px 5px red; */
    box-shadow: var(--orange) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bout-me {
    border: 10px solid var(--purple);
    border-radius: 25px;
    background-color: var(--lightblue);
    padding: 5px;
    margin: 10px 25px 0 25px;
}

.bout-me:hover {
    transition: transform .5s ease;
    transform: scale(1.035);
}

.work-head {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 52px;
    text-shadow: 5px 5px 10px var(--orange);
}

.main-tile {
    background-color: var(--lightblue);
}

.matrix-script {
    border: 5px solid var(--purple);
    border-radius: 10px;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.sm-tile {
    border: 5px solid black;
    position: relative;
    margin: 15px;
}

.tile-head-left {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 5px;
    color: var(--purple);
    background-color: var(--green);
}

.tile-head-right {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 5px;
    color: var(--orange);
    background-color: blue;
}
